<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <appSettings>
    <add key="owin:AutomaticAppStartup" value="false" />
    <add key="AUTH_COOKIE_ENCRYPTION_KEY" value="BoldKey" />
    <add key="buildVerson" value="token_buildversion" />
    <add key="buildVerson_mobile" value="token_buildversion" />
    <add key="AuthCookieName" value="UserStatus" />
    <!--<add key="apiUrl" value="https://api-qa-embedded-builder.cover-letter-now.com/api/v1/" />-->
    <add key="apiUrl" value="https://api-qa-embedded-builder.{0}/api/v1/" />
    <add key="blobBaseUrl" value="https://lccontentdev.blob.core.windows.net/" />
    <add key="CommonLoginURL" value="https://qa-accounts.{0}/" />
    <add key="sourceAppCD" value="CLBBLD_QUA_W_COR" />
    <add key="hiwLoaderTime" value="2000" />
    <add key="AllowOptions_RN" value="false" />
    <add key="AllowOptions_CLN" value="false" />
    <add key="AllowOptions_LC" value="false" />
    <add key="AllowOptions_Zety" value="false" />
    <add key="AllowOptions_LUK" value="false" />
    <add key="AllowOptions_LFR" value="false" />
    <add key="AllowOptions_LES" value="false" />
    <add key="AllowOptions_LIT" value="false" />
    <add key="AllowOptions_LDE" value="false" />
    <add key="AllowOptions_LPL" value="false" />
    <add key="JoshuaTree_CLN" value="true" />
    <add key="isDisableWebLight_CLN" value="true" />
    <add key="MininmumWorkerThreadCount" value="0" />
    <add key="MinIOThreadCount" value="0" />
    <add key="SeqEndpoint" value="https://dev-seq.livecareer.com:5341" />
    <add key="SeqApiKey" value="MSul1oBHQjrhnK5KUNND" />
    <add key="UIExperimentJSPath" value="/ui-experimentation/{0}/experiment.js" />
    <add key="unsupportedBrowserPath" value="/information/unsupportedbrowsers" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off" />
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.1" fcnMode="Disabled" />
  </system.web>
  <system.webServer>
    <modules />
    <rewrite>
      <rules>
        <clear />
		
		<rule name="nodejs">
		  <match url="(.*)" />
		  <conditions>
			<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"  />
		  </conditions>
		  <action type="Rewrite" url="/index.js" />
		</rule>
		<rule name="NodeInspector" patternSyntax="ECMAScript" stopProcessing="true">                      
						<match url="index.js" />  
					</rule>
		
  
        <rule name="healthCheck" stopProcessing="true">
          <match url=".*" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{URL}" pattern="healthpage.html" />
          </conditions>
          <action type="Rewrite" url="/healthpage.html" />
        </rule>
        <rule name="API" stopProcessing="true">
          <match url="(.*)/api/(.*)" ignoreCase="false" />
          <action type="None" />
        </rule>
        <rule name="mobileBuild" stopProcessing="true">
          <match url=".*" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{URL}" pattern="/mobile/build/(.*)bundle-(.*).js" negate="true" />
            <add input="{URL}" pattern="/mobile/build/stylesheets/main-(.*).css" negate="true" />
            <add input="{URL}" pattern="/build-letter/mobile/build(.*)" />
          </conditions>
          <action type="Rewrite" url="/mobile/build{C:1}" />
        </rule>
        <rule name="mobileCssRewrite" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{URL}" pattern="/mobile/build/stylesheets/(.*)main-(.*).css" />
          </conditions>
          <action type="Rewrite" url="/mobile/build/stylesheets/{C:1}main.css" />
        </rule>
        <rule name="mobileAppJsRewrite" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{URL}" pattern="/mobile/scripts/app-(.*).js" />
          </conditions>
          <action type="Rewrite" url="/mobile/scripts/app.js" />
        </rule>
        <rule name="mobileScripts" stopProcessing="true">
          <match url=".*" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{URL}" pattern="/build-letter/mobile/scripts(.*)" />
          </conditions>
          <action type="Rewrite" url="/mobile/scripts{C:1}" />
        </rule>
        <rule name="mobileImages" stopProcessing="true">
          <match url=".*" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{URL}" pattern="/build-letter/mobile/images(.*)" />
          </conditions>
          <action type="Rewrite" url="/mobile/images{C:1}" />
        </rule>
        <rule name="mobileRefresh" stopProcessing="true">
          <match url=".*" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{URL}" pattern="/mobile(.*)" />
            <add input="{URL}" pattern="/mobile/build(.*)" negate="true" />
            <add input="{URL}" pattern="/mobile/scripts(.*)" negate="true" />
            <add input="{URL}" pattern="/mobile/images(.*)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/mobileapp" />
        </rule>
        <rule name="v2DeskTopBuild" stopProcessing="true">
          <match url=".*" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{URL}" pattern="/v2/build/(.*)bundle-(.*).js" negate="true" />
            <add input="{URL}" pattern="/v2/build/stylesheets/main-(.*).css" negate="true" />
            <add input="{URL}" pattern="/build-letter/v2/build(.*)" />
          </conditions>
          <action type="Rewrite" url="/build{C:1}" />
        </rule>
        <rule name="v2desktopCssRewrite" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{URL}" pattern="/v2/build/stylesheets/(.*)main-(.*).css" />
          </conditions>
          <action type="Rewrite" url="/v2/build/stylesheets/{C:1}main.css" />
        </rule>
        <rule name="V2AppJsRewrite" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{URL}" pattern="/v2/scripts/app-(.*).js" />
          </conditions>
          <action type="Rewrite" url="/v2/scripts/app.js" />
        </rule>
        <!-- FinalizeTestBed -->
        <rule name="FinalizeTestBed" stopProcessing="true">
          <match url=".*" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{URL}" pattern="/finalizetestbed(.*)" />
          </conditions>
          <action type="Rewrite" url="/finalizetestbed" />
        </rule>
        <!-- JobDescriptionPOC -->
        <rule name="JobDescriptionAllDetailsPOC" stopProcessing="true">
          <match url=".*" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{URL}" pattern="/alljobdetails(.*)" />
          </conditions>
          <action type="Rewrite" url="/alljobdetails" />
        </rule>
        <rule name="JobDescriptionPOC" stopProcessing="true">
          <match url=".*" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{URL}" pattern="/jobdescription(.*)" />
          </conditions>
          <action type="Rewrite" url="/jobdescription" />
        </rule>
        <rule name="JobDetailsPOC" stopProcessing="true">
          <match url=".*" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{URL}" pattern="/jobdetails(.*)" />
          </conditions>
          <action type="Rewrite" url="/jobdetails" />
        </rule>
        <rule name="v2DeskTopRefresh" stopProcessing="true">
          <match url=".*" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{URL}" pattern="/v2(.*)" />
            <add input="{URL}" pattern="/v2/build(.*)" negate="true" />
            <add input="{URL}" pattern="/v2/scripts(.*)" negate="true" />
            <add input="{URL}" pattern="/v2/images(.*)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
        <rule name="desktopCssRewrite" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{URL}" pattern="/v2/build(.*)" negate="true" />
            <add input="{URL}" pattern="/build/stylesheets/(.*)main-(.*).css" />
          </conditions>
          <action type="Rewrite" url="/build/stylesheets/{C:1}main.css" />
        </rule>
        <rule name="AppJsRewrite" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{URL}" pattern="/v2/scripts(.*)" negate="true" />
            <add input="{URL}" pattern="/scripts/(.*)app-(.*).js" />
          </conditions>
          <action type="Rewrite" url="/scripts/{C:1}app.js" />
        </rule>
        <rule name="DesktopRefresh" stopProcessing="true">
          <match url=".*" ignoreCase="false" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{URL}" pattern="/build(.*)" negate="true" />
            <add input="{URL}" pattern="/scripts(.*)" negate="true" />
            <add input="{URL}" pattern="/images(.*)" negate="true" />
          </conditions>
          <action type="Rewrite" url="/" />
        </rule>
      </rules>
    </rewrite>
    <defaultDocument>
      <files>
        <add value="Index.cshtml" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="true" />
    <handlers>
		<add name="iisnode" path="index.js" verb="*" modules="iisnode" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
	<security>
  <requestFiltering>
    <hiddenSegments>
      <add segment="node_modules" />
      <add segment="iisnode" />
    </hiddenSegments>
  </requestFiltering>
</security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.4.1" newVersion="4.0.4.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
<!--ProjectGuid: 8B77BDBB-184B-420B-9523-2C2EA20CDD9C-->